{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div id="container">

    <div id="chat_box">

        {% for user in users %}
        <div id="chat_data">
            <span class="chat_name">{{ user.name }}:</span>
            <span>{{ user.msg }}</span>
            <span class="time">{{ user.date  | date('g:i A') }}</span>
        </div>
        {% endfor %}

    </div>

    <form action="index" method="post">
        <input type="text" name="name" placeholder="Enter Name"><br>
        <textarea name="msg" placeholder="Enter Message"></textarea>
        <input type="submit" name="submit" value="Send">
    </form>

</div>

{% endblock %}