{% extends "base.html" %}

{% block title %}Ajax Tutorials{% endblock %}

{% block body %}
    <div id="box">
        <h2>New User Register Here:</h2>
        <input type="text" name="name" id="name" placeholder="Enter Your Name"><br>
        <input type="email" name="email" id="email" placeholder="Enter Your Email"><br>
        <input type="password" name="pass" id="pass" placeholder="Enter Your Password"><br>

        <input type="submit" name="sub" id="sub" value="Submit">
        <div id="result"></div>
    </div>
{% endblock %}